{# Autorzy: Sebastian Lyszkowski, Marek Bobrowski #}
{%  extends 'base.html.twig' %}

{% block title %}
    TOP 10
{% endblock %}

{% block body %}
    <tr class="headingTr">
        <td>NAZWA</td>
        <td>GATUNEK</td>
        <td>PLATFORMA</td>
        <td>OCENA</td>
        <td>RECENZJA</td>
    </tr>
    {% for game in games %}
        <tr>
            <td>{{ game.title }}</td>
            <td>{{ game.genre}}</td>
            <td>
                {% for platform in game.platform %}
                    {% if loop.last %}
                        {{ platform }}
                    {% else %}
                        {{ platform }},
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {{ game.averagerating}}
                <form action="rategame" method="get">
                    <input type="hidden" name="id" value="{{ game.id }}">
                    <button type="submit" class="btn btn-primary" style="border-color:white">OCEN</button>
                </form>
            </td>
            <td style="overflow:auto; overflow-wrap:break-word; max-width:400px;">{{ game.review}}</td>
        </tr>
    {% endfor %}
{% endblock %}
