{# Autor: Sebastian Lyszkowski #}
{%  extends 'base.html.twig' %}

{% block title %}
    Znaleziono: {{ count }}
{% endblock %}

{% block body %}

    <tr class="headingTr">
        <td>TYTUŁ</td>
        <td>GATUNEK</td>
        <td>PLATFORMA</td>
        <td>OCENA</td>
        <td></td>
        <td>RECENZJA</td>
    </tr>

    {% for game in games %}
        <tr>
            <td>{{ game.title }}</td>
            <td>{{ game.genre}}</td>
            <td>
                {% for platform in game.platform %}
                    {% if loop.last %}
                        {{ platform }}
                    {% else %}
                        {{ platform }},
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {{ game.averagerating}}
            </td>
            {% if is_granted('ROLE_USER') %}
                <td>
                    <form action="rategame" method="get">
                        <input type="hidden" name="id" value="{{ game.id }}">
                        <button type="submit" class="btn btn-primary" style="border-color:white">OCEŃ</button>
                    </form>
                </td>
            {% else %}
                <td></td>
            {% endif %}
            <td style="overflow:auto; overflow-wrap:break-word; max-width:400px;">{{ game.review}}</td>
        </tr>
    {% endfor %}

    {% if pages > 1 %}
        <tr class="titleTr">
            <td colspan="6">
                {% for page in 1..pages %}
                <form action="changepage" method="post" style="display: inline-block">
                    <input type="hidden" name="title" value="{{ title }}">
                    <input type="hidden" name="pagenumber" value="{{ page }}">
                    <button type="submit" class="btn btn-primary" style="border-color:white" name="page">{{ page }}</button>
                </form>
                {% endfor %}
            </td>
        </tr>
    {% endif %}

{% endblock %}
