{%  extends 'base.html.twig' %}

{% block title %}
    WYNIKI
{% endblock %}

{% block body %}

    <tr class="headingTr">
        <td>NAZWA</td>
        <td>GATUNEK</td>
        <td>PLATFORMA</td>
        <td>OCENA</td>
        <td>RECENZJA</td>
    </tr>

    {% for game in games %}
        <tr>
            <td>{{ game.title }}</td>
            <td>{{ game.genre}}</td>
            <td>
                {% for platform in game.platform %}
                    {{ platform }}
                {% endfor %}
            </td>
            <td>{{ game.averagerating}}</td>
            <td>{{ game.review}}</td>
        </tr>
    {% endfor %}

{% endblock %}
