{# Autor: Marek Bobrowski #}
{%  extends 'base.html.twig' %}

{% block title %}
    <div style = "text-align: left">NOWOŚCI ZE ŚWIATA GIER</div>
    <div style = "text-align: right">
        <form action="searchpost" method="post">
            <input type="text" style="display: inline-block; width: 130px" name="title">
            <button type="submit" class="btn btn-primary" style="border-color:white; display: inline-block">SZUKAJ</button>
        </form>
    </div>

{% endblock %}

{% block body %}

    {% for post in news %}
        <tr class="headingTr">
            <td colspan="5" style="font-weight: bold">
                Autor: {{ post.author }}
            </td>
            <td style="text-align: right;">
                <div class="date" style="padding-right: 25px">
                    {{ post.date|date('Y-m-d') }}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan = "6" style="font-weight: bold; text-align:center; font-size:20px">{{ post.title }}</td>
        </tr>
        <tr>
            <td colspan = "6">{{ post.content }}</td>
        </tr>

        <tr>
            <td colspan="6" style="text-align: right">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="delete-post-button" style="padding-right: 25px">
                    <form action="deletepost" method="post" style="display: inline-block">
                        <input type="hidden" name="id" value="{{ post.id }}">
                        <button type="submit" class="btn btn-primary" style="border-color:white;">USUŃ</button>
                    </form>
                </div>
            {% endif %}
            </td>
        </tr>

    {% endfor %}
    {# Autor: Sebastian Łyszkowski ------------------------------------------------------------------------------------ #}
    {% if pages > 1 %}
        <tr class="titleTr">
            <td colspan="6">
                {% for page in 1..pages %}
                    <form action="changepagenews" method="post" style="display: inline-block">
                        <input type="hidden" name="pagenumber" value="{{ page }}">
                        <button type="submit" class="btn btn-primary" style="border-color:white" name="page">{{ page }}</button>
                    </form>
                {% endfor %}
            </td>
        </tr>
    {% endif %}
    {# ---------------------------------------------------------------------------------------------------------------- #}

{% endblock %}
