{%  extends 'base.html.twig' %}

{% block title %}
    LOGOWANIE
{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {% if error %}
        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ error.messageKey|trans(error.messageData, 'security') }}</td>
        </tr>
    {% endif %}

    {% if app.user %}
        <tr>
            <td style="text-align: center; vertical-align: middle;">Jestes zalogowany jako {{ app.user.username }}, <a href="{{ path('app_logout') }}">Wyloguj</a></td>
        </tr>
    {% endif %}

    <tr>
        <td style="text-align: center; vertical-align: middle;">{{ form_label(form.name) }}</td>
    </tr>

    <tr>
        <td style="text-align: center; vertical-align: middle; color:black">{{ form_widget(form.name) }} {{ form_errors(form.name) }}</td>
    </tr>

    <tr>
        <td style="text-align: center; vertical-align: middle;">{{ form_label(form.password) }}</td>
    </tr>

    <tr>
        <td style="text-align: center; vertical-align: middle; color:black">{{ form_widget(form.password) }} {{ form_errors(form.password) }}</td>
    </tr>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <tr>
        <td style="text-align: center; vertical-align: middle;">{{ form_row(form.submit) }}</td>
    </tr>

    {{ form_end(form) }}

{% endblock %}
