{%  extends 'base.html.twig' %}

{% block title %}
    REJESTRACJA
{% endblock %}

{% block body %}

    {{ form_start(form) }}

        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ form_label(form.name) }}</td>
        </tr>
        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ form_widget(form.name) }} {{ form_errors(form.name) }}</td>
        </tr>

        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ form_label(form.email) }}</td>
        </tr>

        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ form_widget(form.email) }} {{ form_errors(form.email) }}</td>
        </tr>

        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ form_label(form.password.first) }}</td>
        </tr>

        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ form_widget(form.password.first) }} {{ form_errors(form.password.first) }}</td>
        </tr>

        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ form_label(form.password.second) }}</td>
        </tr>

        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ form_widget(form.password.second) }} {{ form_errors(form.password.second) }}</td>
        </tr>

        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ form_row(form.submit) }}</td>
        </tr>

    {{ form_end(form) }}

{% endblock %}
